.container{
  border:none;
  height: 200px;
  width: 450px;
  text-align: center;
  margin: 0 auto;
  margin-top: 70px;
  padding: 10px;
  background: #f0f0f0

}
.btn{
  background-color: #00C5BE;
  border: none;
  color: #fff;
  font-size: 0.6em;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: normal;
}
.select{
  margin-bottom: 6px;
}

  .header{
    color:gray;
  }
  .inpt{
    border: none;
    color: #aaa;
    margin-top: 10px;
    display: inline-block;
    width: 300px;
    height: 30px;
    padding-left: 10px;
  }
  .list{
    text-align: center;
  }
  .listItem{
    list-style-type: none;
    color: gray;
    padding-top: 8px;

  }
  .star{
    color: #00C5BE;

  }
  .close{
    color:#aaa;
  }
  .pRaiting{
    margin: 6px;
    color: gray;
  }